body  {
  margin:0;
  font-family: 'Poppins', sans-serif;
}

.column1 {
  padding-top: 150px;
  padding-left: 150px;
  margin-bottom:0px;
  margin-top:25px;
  text-align: left;
  font-weight:200;
}
@media (max-width: 650px) {
  .column1 {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}